$def with (signup, png)

$var title: 登录
$var css: 
$var js: 

<main class="main">
    <div class="login">
        <form name="f_login" method="post" action="/login" id="form">
        <div class="login-content">
            <div class="login-tab flex ai_center jc_center">
                <div class="login-tab-item active">密码登录</div>
                <div class="login-tab-item">验证码登录</div>
            </div>
            <div class="login-content-form">
                <div class="login-content-item flex ai_center">
                    <i class="icon icon-account"></i>
                    <input class="login-content-input flex1" type="text" name="chainaddr" placeholder="请输入链地址">
                </div>
                <div class="login-content-item flex ai_center">
                    <i class="icon icon-password"></i>
                    <input class="login-content-input flex1" type="text" name="passwd" placeholder="请输入密码字符串">
                </div>
                <div class="login-content-verification flex ai_center">
                    <div class="login-content-item flex ai_center flex1">
                        <input class="login-content-input2 flex1" type="text" name="rand" placeholder="请输入图形验证码">
                    </div>
                    <img class="login-content-verification-img" src="$png" alt="">
                </div>
                <div class="login-forget">忘记密码?</div>
                <div class="login-content-btn" onclick="$$('#form').submit();">登 录</div>
                <div class="login-content-register">还没有帐号，<a href="">立即注册</a></div>
            </div>
        </div>
    </form>
    </div>
</main>

