/*2018-11-20*/
/*xzf ssui*/
/**/
:root {
    position: relative;
    font-size: 1px;
}

header,
footer,
div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
}

div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    padding: 0;
    margin: 0;
}
.scrollbar-hidden ::-webkit-scrollbar {
    display: none;
}
.scrollbar-hidden ::-moz-scrollbar {
    display: none;
}
.scrollbar-hidden ::-ms-scrollbar {
    display: none;
}
.scrollbar-hidden ::-o-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline-style: none;
}

*::before {
    box-sizing: border-box;
}

html {
    width: 100%;height: 100%
}

body {
    font-size: 14rem;
    color: #333;
    position: relative;
    line-height: 1;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 100%
}

ol,
ul,
li {
    list-style: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    outline-style: none;
    /*FF*/
}

/*css为clearfix，清除浮动*/
.clearfix {
    *zoom: 1;
    /*IE/7/6*/
    zoom: 1;
    /*IE/7/6*/
}

.clearfix::before,
.clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix:after {
    clear: both;
}

img {
    z-index: 0;
    object-fit: cover;
}

/*文本对齐*/
.ta_right {
    text-align: right;
}

.ta_center {
    text-align: center;
}

.ta_justify {
    text-align: justify;
}

/*隐藏*/
.hide {
    display: none !important;
}

/*字颜色*/
.icon {
    font-size: inherit;display: block;background-repeat: no-repeat;background-size: 100% 100%;background-position: center;
}

.fc_3 {
    color: #333;
}

.fc_6 {
    color: #666;
}

.fc_9 {
    color: #999;
}

/*背景*/
.bg_fff {
    background-color: #fff;
}

/*移动*/
.late_xy {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.late_x {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.late_y {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*定位*/
.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.fixed {
    position: fixed;
}

/*垂直居中*/
.abs_xy {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fiexd_xy {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.abs_x {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.abs_y {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.fixed_x {
    position: fixed;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.fixed_y {
    position: fixed;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.abs_center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.fixed_center {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*行省略*/
/*-webkit-,-moz-,-o-,-ms-*/
.line_one {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.line_1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -ms-line-clamp: 1;
    -o-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}

.line_2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.line_3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    -o-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

.line_4 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    -ms-line-clamp: 4;
    -o-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
}

.line_5 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    -o-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

/*block*/
.block {
    display: block;
}

.inblock {
    display: inline-block;
}

/*Flexible Box*/
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.inflex {
    display: inline-box !important;
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -moz-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

/*单轴*/
.ai_center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.ai_start {
    /*默认*/
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
}

.ai_end {
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
}

.ai_base {
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
}

.ai_stretch {
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
}

/*左右对齐*/
.jc_center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

.jc_between {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}

.jc_around {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
}

.jc_end {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
}

/*换行方式*/
.fw_no {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.fw_wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fw_reverse {
    -webkit-flex-wrap: wrap-reverse;
    -moz-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    -o-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

/*多轴 上中下对齐方式*/
.ac_center {
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    -o-align-content: center;
    align-content: center;
}

.ac_start {
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-align-content: flex-start;
    -o-align-content: flex-start;
    align-content: flex-start;
}

.ac_end {
    -webkit-align-content: flex-end;
    -moz-align-content: flex-end;
    -ms-align-content: flex-end;
    -o-align-content: flex-end;
    align-content: flex-end;
}

.ac_between {
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    -o-align-content: space-between;
    align-content: space-between;
}

.ac_around {
    -webkit-align-content: space-around;
    -moz-align-content: space-around;
    -ms-align-content: space-around;
    -o-align-content: space-around;
    align-content: space-around;
}

.ac_stretch {
    -webkit-align-content: stretch;
    -moz-align-content: stretch;
    -ms-align-content: stretch;
    -o-align-content: stretch;
    align-content: stretch;
}

/*主轴的方向*/
.fd_r {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

.fd_rr {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.fd_c {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.fd_cr {
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

/*项目属性*/
.flex1 {
    -prefix-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.as_auto {
    -webkit-align-self: auto;
    -moz-align-self: auto;
    -ms-align-self: auto;
    -o-align-self: auto;
    align-self: auto;
}

.as_center {
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    -o-align-self: center;
    align-self: center;
}

.as_start {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-align-self: flex-start;
    -o-align-self: flex-start;
    align-self: flex-start;
}

.as_end {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-align-self: flex-end;
    -o-align-self: flex-end;
    align-self: flex-end;
}

.as_base {
    -webkit-align-self: baseline;
    -moz-align-self: baseline;
    -ms-align-self: baseline;
    -o-align-self: baseline;
    align-self: baseline;
}

.as_stretch {
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    -ms-align-self: stretch;
    -o-align-self: stretch;
    align-self: stretch;;
}

/* 是否允许子元素伸缩 */
.flex-item {
    flex-grow: 1;;
}

/* 子元素的显示次序 */
.flex-order {
    order: 1;;
}

/**/
