@charset "utf-8";
/* 重置 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0;margin:0;}   
fieldset, img {border:0;}   
table{border-collapse:collapse;border-spacing:0;}   
ol, ul {list-style:none;}   
address, caption, cite, code, dfn, em, strong, th, var {font-weight:normal;font-style:normal;}   
caption, th {text-align:left;}   
h1, h2, h3, h4, h5, h6 {font-size:100%;}   
q:before, q:after {content:'';}   

.clearfix { *zoom:1}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0; }

html, body{ width:100%; height:100%; }

a{ color:#06c; text-decoration:none; }
a:hover{ text-decoration:underline; }
button::-moz-focus-inner{ border:0; padding:0; margin:0; }

.side_body{ color:#333; font:14px/24px 'microsoft yahei'; background:url("/static/image/body_bg.png") repeat-y 0 0; }
.whole_body{ color:#333; font:14px/24px 'microsoft yahei'; }

.feature dd,
.download .icon_download{ background:url("/static/image/icon_sprites.png") no-repeat; }

.wrapper{ width:100%; }

.abtn{ padding:0 18px; height:20px; line-height:20px; background:#eaeaea; font-family:"Microsoft yahei",arial; font-size:11px; outline:none; color:#333; text-decoration:none; border:1px solid #acacac; display:inline-block; }
.abtn:hover{ background:#e0effc; text-decoration:none; }

/* slidebar */
.slidebar{ width:200px; float:left; height:100%; }
.top_box{ 
	width:100%; 
	height:73px; 
	padding-top:27px; 
	border-bottom:5px solid #fff; 
	background:#BDBDBD; 
	cursor:pointer; 
}
.top_box .user{
	font-family:"Microsoft yahei",arial; 
	font-size:11px;
	color:#000; 
	text-decoration:none;
	float: right;
	padding-right:10px;
} 
.top_box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page_title{ font-family:segoe ui, verdana, arial, sans-serif; font-size:30px; color:#333; height:60px; line-height:60px; font-weight:300; padding-left:20px; border-bottom:1px solid #ccc; }
.page_title span{ font-size:11px; color:#666; font-family:arial; padding-left:10px; font-weight:700; -webkit-text-size-adjust:none; }

/* menu */
.menu_left{ width:200px; overflow:hidden; padding-top:20px; }
.menu_left a{ height:38px; line-height:38px; width:240px; color:#666; text-decoration:none; padding-left:20px; display:block; }
.menu_left a:hover{ background:#BDBDBD; color:#fff; text-decoration:none; }
.menu_left .current a{ width:240px; border-left:solid #222; padding-left:16px; height:38px; line-height:38px; border-width:0 0 0 4px; font-weight:700; color:#333; }
.menu_left .current a:hover{ border-left:solid #BDBDBD; color:#fff; padding-left:20px; }

.menu_left2{ width:200px; overflow:hidden; padding-top:0px; }
.menu_left2 a{ height:38px; line-height:38px; width:240px; color:#666; text-decoration:none; padding-left:20px; display:block; }
.menu_left2 a:hover{ background:#BDBDBD; color:#fff; text-decoration:none; }
.menu_left2 .current a{ width:240px; border-left:solid #222; padding-left:16px; height:38px; line-height:38px; border-width:0 0 0 4px; font-weight:700; color:#333; }
.menu_left2 .current a:hover{ border-left:solid #BDBDBD; color:#fff; padding-left:20px; }

/* content */
.content2{ width:930px; float:left; padding:49px 0 0 70px; overflow:hidden; } 

.content{ width:calc(100% - 300px);float:left;padding: 49px 0 0 50px;overflow:hidden;} 
.content .title_lv2{ font-size:20px; height:40px; line-height:40px; font-family:arial; margin-top:50px; } 
.content .title_lv2 span{ font-size:16px; color:#666; font-weight:400; line-height:30px; } 
.content .title_lv2 em{ font-style:italic; color:#999; } 
.caption{ height:50px; line-height:50px; overflow:hidden; border-bottom:1px solid #e0e0e0; margin-bottom:30px; } 
.caption h2{ font-size:28px; font-family:arial; float:left; height:50px; line-height:50px; } 
.caption h2 span{ font-size:16px; color:#666; font-weight:400; line-height:30px; position:relative; top:-3px; } 
.caption h2 em{ font-style:italic; color:#999; } 
.caption .type{ font-size:11px; color:#fff; height:20px; line-height:20px; width:65px; text-align:center; float:left; margin:18px 0 0 10px; } 
.caption .static{ background:#bbb; } 
.caption .constructor{ background:#BDBDBD; } 
.caption .prototype{ background:#46ca3b; } 
.caption .global{ background:#252525; } 
.caption .file{ float:right; font-size:13px; color:#666; line-height:60px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; }
.caption .data_type{ float:left; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#666; font-size:13px; margin:2px 0 0 10px; }

.mod_desc{ background:#f5f5f5; padding:20px 20px 0; } 
.mod_desc p{ padding-bottom:20px; }


.article_box{ margin-top:30px; } 
.article_box h3{ font-size:22px; font-weight:400; font-family:arial; line-height:30px; margin-bottom:10px; color:#000; border-bottom:1px dotted #999; display:inline-block; }
.article_box p{ padding-bottom:20px; }
.article_box b{ color:#000; }
.article_box .red{ color:#f00; }
.article_box .highlight{ padding:0 5px; background:#f0f0f0; }
.article_box .btn{ padding:0 18px; height:20px; line-height:20px; background:#eaeaea; font-family:"Microsoft yahei",arial; font-size:11px; outline:none; color:#333; text-decoration:none; border:1px solid #acacac; display:inline-block; }
.article_box .btn:hover{ background:#e0effc; text-decoration:none; }
.article_box .gray{ color:#999; font-size:11px; padding:0 10px; font-family:arial; }
.article_box .list{ list-style:disc; padding:0 0 10px 15px; }
.article_box .list li{ margin-bottom:10px; color:#666; }

.props_tb{ width:100%; border-collapse:collapse; border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; margin-top:20px; }
.props_tb tr td{ line-height:20px; padding:5px 0; text-align:center; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; color:#666; font-size:11px; }
.props_tb tr .t_l{ text-align:left; padding:5px 10px; }
.props_tb .even td{ background:#f5f5f5; }
.props_tb tr .bg_white{ background:#fff; }
.props_tb th{ background:#f5f5f5; line-height:40px; border-right:1px solid #e5e5e5;font-size:11px; border-top:2px solid #BDBDBD; text-align:center; }
.props_tb p{ line-height:20px; padding:5px 0; color:#666; }
.props_tb .name{ font-family:arial; color:#333; font-size:18px; }
.props_tb .type{ font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#666; }
.props_tb .bg_gray{ background:#f5f5f5;}


/* feature */
.feature{ padding:30px 0; }
.feature dt{ font-size:22px; font-weight:400; font-family:arial; line-height:30px; margin-bottom:10px; color:#000; border-bottom:1px dotted #999; display:inline-block; }
.feature dd{ padding-left:22px; line-height:30px; background-position:0 -14px; }


.hello_div{ background:#222; position:absolute; left:-200px; width:200px; height:100px; font-family:"wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif"; font-size:38px; color:#fff; line-height:100px; text-align:center; }

.footer{ padding-top:150px; height:30px; padding-bottom:20px; }
.footer p{ line-height:30px; color:#999; font-size:11px; font-family:arial; }
.footer a{ color:#999; border-bottom:1px dotted #ccc; }
.footer a:hover{ color:#333; border-bottom:1px solid #333; text-decoration:none; }

 
/* iamge upload */
#image-main {
  width: 250px;
  margin:auto;
  background: #ececec;
  padding: 5px;
  border: 1px solid #ccc;
  float: left;
}
 
#image-list {
  list-style:none;
  margin:0;
  padding:0;
}
#image-list li {
  background: #fff;
  border: 0px solid #ccc;
  text-align:center;
  padding:5px;
  margin-bottom:19px;
}
#image-list li img {
  width: 200px;
  vertical-align: middle;
  border:1px solid #ccc;
}

/* form style */

input[type="text"],input[type="password"], textarea, select {
	padding:5px; border:1px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
input[type="text"]:focus { border-color:#333; }
input[type="password"]:focus { border-color:#333; }
textarea:focus { border-color:#333; }
select:focus { border-color:#333; }

input[type=submit], input[type=button] {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	border-bottom-color:#333;
	border:1px solid #61c4ea;
	background-color:#7cceee;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#333;
	font-family:'Verdana',Arial,sans-serif;
	font-size:14px;
	text-shadow:#b2e2f5 0 1px 0;
	padding:5px;
	cursor:pointer; 
	margin:5px;
}

/*遮罩层 begin */
.floatLayer{ width:100%; height:100%; position:fixed; background:#000;  z-index:9990; top:0px; left:0px;filter:alpha(Opacity=50);-moz-opacity:0.30;opacity: 0.30;}
.liadloging{ width:100%; height:auto; position:absolute; top:45%; left:auto; z-index:9995;  text-align:center;}
