$def with (name, str1, settings)

$var title: 用户设置
$var css:
$var js:
$var name: $str1 $name

<div class="caption"><h2>用户设置</h2></div>

<form name="settings" method="post" action="/admin/user_setting">
<input type="hidden" name="chain_addr" value="$settings['chain_addr']" />

<table class="props_tb">
<thead>
        <tr class="even">
            <th>项目</th>
            <th>内容</th>
        </tr>
</thead>
<tbody>

<tr><td>用户名</td><td class="t_l">$settings['login_name']</td></tr>
<tr><td>用户类型</td><td class="t_l">$settings['user_type']</td></tr>
<tr><td>银行开户姓名</td><td class="t_l"><input type="text" name="bank_acc_name" value="$settings['bank_acc_name']"/></td></tr>
<tr><td>银行名称</td><td class="t_l"><input type="text" name="bank_name" value="$settings['bank_name']"/></td></tr>
<tr><td>银行账号</td><td class="t_l"><input type="text" name="bank_acc_no" value="$settings['bank_acc_no']" size="50"/></td></tr>
<tr><td>联系地址</td><td class="t_l"><input type="text" name="address" value="$settings['address']" size="50" /></td></tr>
<tr><td>联系电话</td><td class="t_l"><input type="text" name="phone" value="$settings['phone']"/></td></tr>
<tr><td>电子邮件</td><td class="t_l"><input type="text" name="email" value="$settings['email']"/></td></tr>
<tr><td>推荐人链地址</td><td class="t_l">$settings['referrer']</td></tr>

</tbody>
</table>

<p><input type="submit" name="button" id="button" value="保存" />
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /><p>

</form>
