$def with (name, str1, addr, auc, item, status_list)

$var title: 审核拍卖申请状态
$var css: /static/css/jquery.datetimepicker.css
$var js: /static/js/jquery.datetimepicker.js
$var name: $'|'.join(str1) $name
$var load: first_do()
$var menu: #auct1
$var addr: $addr

<script type="text/javascript">
function first_do(){
    $$('#open_date').datetimepicker({
        format     : 'Y-m-d H:i', 
        minDate    : '+1970-01-01',
        yearStart : 2021,
        yearEnd : 2035,
    });
    $$('#close_date').datetimepicker({
        format     : 'Y-m-d H:i', 
        minDate    : '+1970-01-01',
        yearStart : 2021,
        yearEnd : 2035,
    });
}
</script>

<div class="caption"><h2>审核拍卖申请状态</h2></div>

<form name="settings" method="post" action="/plat/auc_audit_edit">
<input type="hidden" name="auc_id" value="$auc['id']" />

<table class="props_tb">
<thead>
        <tr class="even">
            <th>项目</th>
            <th>内容</th>
        </tr>
</thead>
<tbody>

<tr><td>艺术品名称</td><td class="t_l"><a href="/item/info?item_id=$item['id']">$item['desc']</td></tr>
<tr><td>艺术品状态</td><td class="t_l">$item['status']</td></tr>
<tr><td>申请时间</td><td class="t_l">$auc['req_date']</td></tr>
<tr><td>申请者链地址</td><td class="t_l">$auc['seller_addr']</td></tr>
<tr><td>拍卖行链地址</td><td class="t_l">$auc['auction_house_id']</td></tr>
<tr><td>拍卖底价</td><td class="t_l">$auc['reserved_price']</td></tr>
<tr><td>拍卖开始日期</td><td class="t_l">
    <input type="text" id="open_date" name="open_date" value="$auc['open_date']" readonly="readonly" />
</td></tr>
<tr><td>拍卖截止日期</td><td class="t_l">
    <input type="text" id="close_date" name="close_date" value="$auc['close_date']" readonly="readonly"/>
</td></tr>
<tr><td>状态</td><td class="t_l">
    <select name="status">
        $for i in status_list:
            <option value="$i[0]"
                $if auc['status']==i[0]:
                    selected="selected" 
            >$i[1] ($i[0])</option>
    </select>
</td></tr>

</tbody>
</table>

<p>
    <input type="submit" name="button" id="button" value="提交" />
    <input type="button" name="cancel" value="返回" onclick="window.history.go(-1);" />
</p>

</form>

<br/>

<div class="article_box">
  <div>修改历史：</div>
  <textarea rows="8" cols="100" id="history">
  $for h in auc['last_date']:
      $h['date']，用户：$h['caller']，操作：$h['act']；
  </textarea>
</div>
