$def with (name, str1, addr, item, status_list)

$var title: 审核艺术品状态
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #plat2
$var addr: $addr

<div class="caption"><h2>审核艺术品状态</h2></div>

<form name="settings" method="post" action="/plat/item_audit_edit">
<input type="hidden" name="item_id" value="$item['id']" />

<table class="props_tb">
<thead>
        <tr class="even">
            <th>项目</th>
            <th>内容</th>
        </tr>
</thead>
<tbody>

<tr><td>艺术品名称</td><td class="t_l">$item['desc']</td></tr>
<tr><td>描述</td><td class="t_l">$item['detail']</td></tr>
<tr><td>年代</td><td class="t_l">$item['date']</td></tr>
<tr><td>类型</td><td class="t_l">$item['type']</td></tr>
<tr><td>主题</td><td class="t_l">$item['subject']</td></tr>
<tr><td>材质</td><td class="t_l">$item['media']</td></tr>
<tr><td>尺寸</td><td class="t_l">$item['size']</td></tr>
<tr><td>最近交易价格</td><td class="t_l">$item['base_price']</td></tr>
<tr><td>所有人链地址</td><td class="t_l">$item['owner_addr']</td></tr>
<tr><td>状态</td><td class="t_l">
	<select name="status">
		$for i in status_list:
			<option value="$i[0]"
				$if item['status']==i[0]:
					selected="selected" 
			>$i[1] ($i[0])</option>
	</select>
</td></tr>

</tbody>
</table>

<p><input type="submit" name="button" id="button" value="提交" />
<input type="button" name="cancel" value="返回" onclick="window.history.go(-1);" /></p>

</form>

<br/>

<div class="article_box">
  <div>修改历史：</div>
  <textarea rows="8" cols="100" id="history">
  $for h in item['last_date']:
      $h['date']，用户：$h['caller']，操作：$h['act']；
  </textarea>
</div>
