$def with (name, str1, addr, revs, page, has_next)

$var title: 评论审核
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #plat3
$var addr: $addr

<div class="caption"><h2>评论审核</h2></div>

<table class="props_tb">
<thead>
        <tr class="even">
            <th>艺术品</th>
            <th>评论时间</th>
            <th>评论者链地址</th>
            <th>状态</th>
        </tr>
</thead>
<tbody>

$for u in revs:
    <tr>
    <td><img height="100" src="/plat/get_image_by_item?item_id=$u['item_id']"/></td>
    <td><a href="/plat/rev_audit_edit?rev_id=$u['id']&item_id=$u['item_id']">$u['review_date']</a></td>
    <td>$u['reviewer_addr']</td>
    <td>$u['status']</td>
    </tr>

</tbody>
</table>

<br/>

<div class="article_box">
    $if page > 1:
        <a href="/plat/rev_audit?page=$(page-1)">前一页</a>&nbsp;&nbsp;
    &nbsp;&nbsp;- $page -&nbsp;&nbsp;
    $if has_next:
        <a href="/plat/rev_audit?page=$(page+1)">后一页</a>
</div>
