$def with (name, str1, addr, users, page, has_next)

$var title: 用户审核
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #plat1
$var addr: $addr

<div class="caption"><h2>用户审核</h2></div>

<table class="props_tb">
<thead>
        <tr class="even">
            <th>用户链地址</th>
            <th>用户名称</th>
            <th>类型</th>
            <th>注册时间</th>
            <th>状态</th>
        </tr>
</thead>
<tbody>

$for u in users:
    <tr>
    <td><a href="/plat/user_audit_edit?uid=$u['chain_addr']">$u['chain_addr']</a></td>
    <td>$u['login_name']</td>
    <td>$u['user_type']</td>
    <td>$u['reg_date']</td>
    <td>$u['status']</td>
    </tr>

</tbody>
</table>

<br/>

<div class="article_box">
    $if page > 1:
        <a href="/plat/user_audit?page=$(page-1)">前一页</a>&nbsp;&nbsp;
    &nbsp;&nbsp;- $page -&nbsp;&nbsp;
    $if has_next:
        <a href="/plat/user_audit?page=$(page+1)">后一页</a>
</div>
