$def with (name, str1, addr, auc, item)

$var title: 新的出价
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #auct2
$var addr: $addr

<div class="caption"><h2>新的出价</h2></div>

<form name="settings" method="post" action="/bid/new">
<input type="hidden" name="auc_id" value="$auc['id']" />

<table class="props_tb">
<thead>
        <tr class="even">
        	<th>项目</th>
            <th>内容</th>
        </tr>
</thead>
<tbody>
<tr><td>物品名称</td><td class="t_l">$item['desc']</td></tr>
<tr><td>拍卖id</td><td class="t_l">$auc['id']</td></tr>
<tr><td>买家</td><td class="t_l">$addr[-8:]</td></tr>
<tr><td>出价</td><td class="t_l"><input type="text" name="bid_price" value="" size="80"/></td></tr>

</tbody>
</table>

<p><input type="submit" name="button" id="button" value="提交" />
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /></p>


</form>
