$def with (name, str1, addr, items, page, has_next, is_myitem, cols=3)

$var title: 我的艺术品
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load: 
$var menu: $("#trdd1" if is_myitem>0 else "#trdd2")
$var addr: $addr

<main class="main">
    <div class="main-content">
        <div class="main-bread">当前位置： 首页＞ 个人中心</div>
        <div class="user-content flex">
            <div class="user-content-l">
                <div class="user-head-info flex ai_center jc_center fd_c">
                    <img class="user-headimg" src="/static/image/chain.jpg">
                    <div class="user-name">
                        $if len(name)>0:
                            $name ($addr[-8:])
                    </div>
                </div>
                <div class="user-nav">
                    <div class="user-nav-item flex">
                        <i class="icon icon-grxx"></i>
                        <div class="user-nav-title" onclick="window.location.href='/user/info?uid=$addr'">个人信息</div>
                    </div>
                    <div class="user-nav-item flex">
                        <i class="icon icon-ysp"></i>
                        <div>
                            <div class="user-nav-title">艺术品&拍卖</div>
                            <div>
                                <div class="user-nav-title active">我的艺术品</div>
                                <div class="user-nav-title">我发起的拍卖</div>
                            </div>
                        </div>
                    </div>
                    <div class="user-nav-item flex">
                        <i class="icon icon-pmgl"></i>
                        <div>
                            <div class="user-nav-title">交易管理</div>
                            <div>
                                <div class="user-nav-title">我拍到的艺术品</div>
                                <div class="user-nav-title">我卖出的艺术品</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="out-login" onclick="javascript:window.location.href='/logout'">退出登录</div>
            </div>

            <div class="user-content-r flex1">
                <div class="user-content-r-title" style="border:none">
                    <div>我的艺术品</div>
                    $if u'ITEM' in str1:
                        <div class="main-content-list-info-btn" 
                            onclick="javascript:window.location.href='/item/edit?pos=$self.menu'">添加艺术品</div>
                    <div class="main-content-tab flex">
                        <div class="main-content-tab-item tab-list active">艺术品列表</div>
                        <div class="main-content-tab-item tab-list">评价信息</div>
                    </div>
                </div>
                <div class="user-content-artwork flex">
                    $for i,u in enumerate(items):
                        <div class="user-content-artwork-item">
                            <a href="/item/info?item_id=$u[0]&pos=$self.menu[1:]">
                            $if len(u[3])>0:
                                <img class="user-content-artwork-img" src="/plat/get_image?hash=$u[3][0]" alt="">
                            $else:
                                <img class="user-content-artwork-img" src="/static/image/wood-box.png" alt="">
                            <div class="user-content-artwork-info">
                                <div class="user-content-artwork-info-name">$u[1] ($u[2])</div>
                                <div class="user-content-artwork-info-desc">产品文字描述说明，描述说明产品文字描述说明，描述说明产品文字描述说明，描述说明</div>
                            </div>
                        </div>
                        $if (i+1)%cols==0:
                            </div><div class="user-content-artwork flex">
                </div>
                <div class="pages flex jc_center" id="pages"></div>
            </div>
        </div>
    </div>
</main>

<script>
    layui.use(['laypage', 'layer'], function(){
      var laypage = layui.laypage
      ,layer = layui.layer;
      laypage.render({
        elem: 'pages'
        ,count: 100
        ,limit: 10
        ,theme: '#E3B76D'
      });
    })
</script>