$def with (name, str1, addr)

$var title: 添加艺术品
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #trdd2
$var addr: $addr

<div class="caption"><h2>添加艺术品</h2></div>

<form name="settings" method="post" action="/item/add">
<input type="hidden" name="owner_addr" value="$addr" />

<table class="props_tb">
<thead>
        <tr class="even">
        	<th>项目</th>
            <th>内容</th>
        </tr>
</thead>
<tbody>
<tr><td>名称</td><td class="t_l"><input type="text" name="desc" value="" size="80"/>*</td></tr>
<tr><td>所有者链地址</td><td class="t_l">$addr</td></tr>
<tr><td>描述</td><td class="t_l"><textarea rows="3" cols="80" name="detail"></textarea></td></tr>
<tr><td>年代</td><td class="t_l"><input type="text" name="date" value="" size="80"/>*</td></tr>
<tr><td>类型</td><td class="t_l"><input type="text" name="type" value="" size="80" placeholder="原作、复制品"/></td></tr>
<tr><td>主题</td><td class="t_l"><input type="text" name="subject" value="" size="80" placeholder="古代、现代、风景、雕塑、人像，等"/></td></tr>
<tr><td>材质</td><td class="t_l"><input type="text" name="media" value="" size="80" placeholder="石头、金属、瓷器、油画、素描、电子艺术品，等"/></td></tr>
<tr><td>尺寸</td><td class="t_l"><input type="text" name="size" value="" size="80"/></td></tr>
<tr><td>最近交易价格</td><td class="t_l"><input type="text" name="base_price" value=""/>*</td></tr>

</tbody>
</table>

<p><input type="submit" name="button" id="button" value="提交" />
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /></p>


</form>
