$def with (name, str1, addr, item)

$var title: 新增评论
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #trdd2
$var addr: $addr

<div class="caption"><h2>新增评论</h2></div>

<form name="settings" method="post" action="/rev/add" id="form">
<input type="hidden" name="item_id" value="$item['id']" />

<table class="props_tb">
<thead>
        <tr class="even">
        	<th>项目</th>
            <th>内容</th>
        </tr>
</thead>
<tbody>
<tr><td>物品名称</td><td class="t_l">$item['desc']</td></tr>
<tr><td>评论内容</td><td class="t_l"><textarea rows="10" cols="80" name="detail"></textarea></td></tr>

</tbody>
</table>

<p>
<input type="button" name="button" value="保存" onclick="$$('.floatLayer').show();$$('#form').submit();" />
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /></p>

</form>
