$def with (name, str1, addr, user, user_type, balance)

$var title: 用户信息
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #user1
$var addr: $addr

<main class="main">
	<div class="main-content">
		<div class="main-bread">当前位置： 首页＞ 个人中心</div>
		<div class="user-content flex">
			<div class="user-content-l">
				<div class="user-head-info flex ai_center jc_center fd_c">
					<img class="user-headimg" src="/static/image/chain.jpg">
					<div class="user-name">
						$if len(name)>0:
							$name ($addr[-8:])
					</div>
				</div>
				<div class="user-nav">
					<a href="./usercenter.html" class="user-nav-item flex">
						<i class="icon icon-grxx"></i>
						<div class="user-nav-title active">个人信息</div>
					</a>
					<div class="user-nav-item flex">
						<i class="icon icon-ysp"></i>
						<div>
							<div class="user-nav-title">艺术品&拍卖</div>
							<div>
								<div class="user-nav-title">我的艺术品</div>
								<div class="user-nav-title">我发起的拍卖</div>
							</div>
						</div>
					</div>
					<div class="user-nav-item flex">
						<i class="icon icon-pmgl"></i>
						<div>
							<div class="user-nav-title">交易管理</div>
							<div>
								<div class="user-nav-title">我拍到的艺术品</div>
								<div class="user-nav-title">我卖出的艺术品</div>
							</div>
						</div>
					</div>
				</div>
				<div class="out-login" onclick="javascript:window.location.href='/logout'">退出登录</div>
			</div>
			<div class="user-content-r flex1">
				<div class="user-content-r-title">个人信息</div>
				<div class="r-user-head">
					<img class="r-user-headimg" src="/static/image/chain.jpg">
					<!--div class="r-user-headimg-box flex ai_center jc_center">
						<i class="icon icon-photo"></i>
					</div-->
				</div>
				<div class="r-user-info-list flex ai_center">
					<div class="r-user-info-title">用户名</div>
					<div class="r-user-info-content">
						$user['login_name']
					</div>
				</div>
				<div class="r-user-info-list flex ai_center">
					<div class="r-user-info-title">用户链地址</div>
					<div class="r-user-info-content">
						$user['chain_addr']
					</div>
				</div>
				<div class="r-user-info-list flex ai_center">
					<div class="r-user-info-title">用户类型</div>
					<div class="r-user-info-content">
						$user_type[user['user_type'].split('|')[0]]
					</div>
				</div>
				<div class="r-user-info-list flex ai_center">
					<div class="r-user-info-title">银行卡开户名</div>
					<div class="r-user-info-content">
						$user['bank_acc_name']
					</div>
				</div>
				<div class="r-user-info-list flex ai_center">
					<div class="r-user-info-title">银行账号</div>
					<div class="r-user-info-content">
						$user['bank_acc_no']
					</div>
				</div>
				<div class="r-user-info-list flex ai_center">
					<div class="r-user-info-title">银行名称</div>
					<div class="r-user-info-content">
						$user['bank_name']
					</div>
				</div>
				<div class="r-user-info-list flex ai_center">
					<div class="r-user-info-title">收货地址</div>
					<div class="r-user-info-content">
						$user['address']
					</div>
				</div>
				<div class="r-user-info-list flex ai_center">
					<div class="r-user-info-title">联系电话</div>
					<div class="r-user-info-content">
						$user['phone']
					</div>
				</div>
				<div class="r-user-info-list flex ai_center">
					<div class="r-user-info-title">电子邮件</div>
					<div class="r-user-info-content">
						$user['email']
					</div>
				</div>
				<div class="r-user-info-list flex ai_center">
					<div class="r-user-info-title">推荐人链地址</div>
					<div class="r-user-info-content">
						$user['referrer']
					</div>
				</div>
				<div class="r-user-info-list flex ai_center">
					<div class="r-user-info-title">状态</div>
					<div class="r-user-info-content">
						$user['status']
					</div>
				</div>
				<div class="r-user-info-list flex ai_center">
					<div class="r-user-info-title">通证</div>
					<div class="r-user-info-content">
						$balance['amount'] $balance['denom']
					</div>
				</div>
				<div class="r-user-info-list flex">
					<div class="r-user-info-title"></div>
					<div class="r-user-info-btn">修改</div>	
				</div>
			</div>
		</div>
	</div>
</main>
